body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  max-height: 100vh;
}

#filter {
  text-align: center;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter label {
  font-size: 1.5rem;
}

#chart {
  max-height: 50rem;
}
